<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandung | Living Space</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/booking-detail/css/bookingpage.css">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    /> -->
    <!-- Google Font -->
</head>

<body>
    <header class="header">
        <a href="" class="logo"><i class="fas fa-home"></i>LivingSpace.</a>


        <nav class="navigation">
            <div id="nav-close" class="fas fa-times"></div>
            <a href="#home">Home</a>
            <a href="#">About</a>
            <a href="#facilities">Facilites</a>
            <a href="#location">Location</a>
            <a href="#typeourrooms">Our Rooms</a>
            <a href="login.html" class="fas fa-user"> Login </a>
            
        </nav>

        <div class="icons">
            <div id="menu_btn" class="fas fa-bars"></div>

            <div id="search" class="fas fa-search"></div>
            

            <i ></i>
        </div>
    </header>

    <div class="search-form">
        <div id="close-search" class="fas fa-times"></div>
        <form action="">
            <input type="search" name="" placeholder="Search..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    



    <section id="home" class="home">
        
                    <div class="second-box" id="second-box" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/booking-detail/img/pencarian/bandung.jpg) no-repeat;">
                    <div class="content">
                        <span>WELCOME TO</span>
                        <h3>BANDUNG</h3>
                        
                        
                    </div>
                   
                    </div>
               
    </section>

    <div class="ajukan-sewa-section">
        <section class="sewa" id="sewa">
            <div class="booking-request-form__content">
                <h5 class="heading-featured-in">DETAIL SEWA</h5>
                <div class="booking-request-form__steps">
                    <ol class="c-stepper">
                      <li id="step1" class="c-stepper__item active">
                        <h1 class="c-stepper__title">Ajukan Sewa</h1>
                      </li>
                      <li id="step2" class="c-stepper__item">
                        <h3 class="c-stepper__title">Bayar Sewa</h3>
                      </li>
                      <li id="step3" class="c-stepper__item">
                        <h4 class="c-stepper__title">Check-in</h4>
                      </li>
                    </ol>
                </div>
            </div>

            <div r u t class="booking-form-section booking-form-tenant-info booking-request-form__section booking-request-form__tenant-info">
                <div r class="booking-form-section__head">
                    <p r class="bg-c-text bg-c-text--heading-5">Informasi penyewa</p> 
                </div> <!----> 
                        
                <div r data-testid="bookingFormSection-content" class="booking-form-section__content" style="margin-top: 16px;">
                    <div s u role="listitem" class="booking-form-tenant-info-item booking-form-tenant-info__item" r>
                        <label for="namaPenyewa" s class="bg-c-text bg-c-text--body-1">Nama penyewa</label>
                        <input type="text" id="namaPenyewa" class="nama-penyewa-input bg-c-text bg-c-text--body-4" placeholder="Masukkan nama penyewa" required />
                    </div>
                    <div s u role="listitem" class="booking-form-tenant-info-item booking-form-tenant-info__item" r>
                        <label for="nomorHP" s class="bg-c-text bg-c-text--body-1">Nomor HP</label>
                        <input type="text" id="nomorHP" class="nomor-hp-input bg-c-text bg-c-text--body-4" placeholder="62XXXXXXXXXXXX" pattern="62[0-9]{10,11}" required />
                        <span class="error-message" id="nomorHPError">*Nomor HP tidak sesuai format</span>
                    </div>
                    <div s u role="listitem" class="booking-form-tenant-info-item booking-form-tenant-info__item" r>
                        <label for="jenisKelamin" s class="bg-c-text bg-c-text--body-1">Jenis kelamin</label>
                        <select id="jenisKelamin" class="jenis-kelamin-dropdown bg-c-text bg-c-text--body-4">
                            <option value="" disabled selected>Pilih jenis kelamin</option>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                    </div>
                    <div s u role="listitem" class="booking-form-tenant-info-item booking-form-tenant-info__item" r>
                        <label for="pekerjaan" s class="bg-c-text bg-c-text--body-1">Pekerjaan</label>
                        <input type="text" id="pekerjaan" class="pekerjaan-input bg-c-text bg-c-text--body-4" placeholder="Masukkan pekerjaan" required />
                    </div>
                    <div s u role="listitem" class="booking-form-tenant-info-item booking-form-tenant-info__item" r>
                        <label for="jumlahOrang" s class="bg-c-text bg-c-text--body-1">Jumlah Penyewa</label>
                        <input type="number" id="jumlahOrang" class="jumlah-orang-input bg-c-text bg-c-text--body-4" placeholder="Masukkan jumlah penyewa" min="1" required />
                    </div> <!----> 
                    <div u tabindex="-1" role="dialog" class="bg-c-modal bg-c-modal--backdrop bg-c-modal--md bg-c-modal--fullpage" r>
                        <!---->
                    </div>
                </div>
            </div>

            <div class="submit-button">
                <button type="button" class="button-sewa" id="buttonSewa" onclick="validateAndSubmit()">Sewa</button>
            </div>

        </section>
        <div class="frame">
            <div class="div">
              <div class="overlap-group">
                <div class="div-2">
                  <div class="bayar">Total Pembayaran </div>
                  <div class="bayar">RP 800.000</div>
                </div>
              </div>
              <div class="overlap">
                <div class="overlap-2">
                  <img class="foto" src="/booking-detail/img/booking/kosan.png" />
                  <div class="paket">Paket A</div>
                </div>
                <div class="lokasi">Living Space Bandung Utara</div>
                <p class="fasilitas">
                  KAMAR MANDI LUAR, NON AC, Wifi, Standar fasilities
                </p>
              </div>
            </div>
        </div>
    </div>
   

    <section class="footer">

        <div class="rowfooter">
    
            
            <div class="colfooter"> 
              <a href="../index.html" class="logo"><i class="fas fa-home"></i>LivingSpace.</a>
                <p>Living Space is a company that provides environmentally friendly and comfortable housing.</p>
            </div>
    
            <div class="colfooter"> 
    <h3>Office <div class="underlinefooter"><span></span></div></h3>
    <p>Jl. Merdeka</p>
    <p>Jakarta Selatan</p>
    <p>DKI Jakarta, 51121</p>
    <p class="email-idfooter"><a href="mailto:tes@contoh.com">living@space.com</a></p>
    <h4><a href="https://wa.me/6281255556254">+62-81255556254</a></h4>
    
            </div>
    
    
            <div class="colfooter">
                <h3>Links <div class="underlinefooter"><span></span></div></h3>
    
                <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#facilities">Facilities</a></li>
                <li><a href="#location">Location</a></li>
                <li><a href="#typeourroom">Our Rooms</a></li>
                <li><a href="">Contact</a></li>
                 
    
    
    
                </ul>
            </div>
    
    
            <div class="colfooter">
                
            <h3>Get Good Deals <div class="underlinefooter"><span></span></div></h3>
            <form>
                <i class="far fa-envelope"></i>
                <input type="email" placeholder="Input Your Email" required>
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
            <div class="social-iconsfooter">
                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://wa.me/6281255556254"><i class="fab fa-whatsapp"></i></a>
                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
    
            </div>
    
    
            </div>
        </div>
    
    <hr>
    <p class="copyrightfooter">RevoU Grup 16 © 2023</p>
    </section>


    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>


    <script src="/booking-detail/js/script.js"></script>
</body>
</html>