<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandung | Living Space</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/pagebayar.css">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    /> -->
    <!-- Google Font -->
</head>

<body>
    <header class="header">
        <a href="../index.html" class="logo"><i class="fas fa-home"></i>LivingSpace.</a>


        <nav class="navigation">
            <div id="nav-close" class="fas fa-times"></div>
            <a href="../index.html">Home</a>
            <a href="#">About</a>
           
            <a href="login.html" class="fas fa-user"> Login </a>
            
        </nav>

        <div class="icons">
            <div id="menu_btn" class="fas fa-bars"></div>

            <div id="search" class="fas fa-search"></div>
            

            <i ></i>
        </div>
    </header>

    <div class="search-form">
        <div id="close-search" class="fas fa-times"></div>
        <form action="">
            <input type="search" name="" placeholder="Search..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    



    <section id="home" class="home">
        
                    <div class="second-box" id="second-box" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/pencarian/bandung.jpg) no-repeat;">
                    <div class="content">
                        <span>LIVING SPACE</span>
                        <h3>BANDUNG UTARA</h3>
                        
                        
                    </div>
                   
                    </div>
               
    </section>
<!-- copy dari sini yah!! -->
    <div class="ajukan-sewa-section"> 
        <section class="sewa" id="sewa">
            <div class="booking-request-form__content">
                <h5 class="heading-featured-in">PEMBAYARAN</h5>
                <div class="booking-request-form__steps">
                    <ol class="c-stepper">
                        <li class="c-stepper__item">
                            <h1 class="c-stepper__title">Ajukan Sewa</h1>
                        </li>
                        <li class="c-stepper__item">
                            <h3 class="c-stepper__title">Bayar Sewa</h3>
                        </li>
                        <li class="c-stepper__item">
                            <h4 class="c-stepper__title">Check-in</h4>
                        </li>
                    </ol>
                </div>
            </div>
            
            <div>
                <div class="tabelcs" id="tabelcs">
                    <table class="tg" style="table-layout: fixed; width: relative">
                    <colgroup>
                    <col style="width: 64px">
                    <col style="width: 170px">
                    <col style="width: 170px">
                    <col style="width: 170px">
                    <col style="width: 170px">
                    <col style="width: 180px">
                    </colgroup>
                    <thead>
                      <tr>
                        <th class="tg-f9xn"><img src="img/bayar/card.png" alt="Image" width="150%" height="150%"></th>
                        <th class="tg-5tbn" colspan="5">Konfirmasi Pembayaran</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tg-dqsh"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%2333c520' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3e%3c/svg%3e" alt="Image" width="23" height="23"></td>
                        <td class="tg-mi27">Nama Penyewa</td>
                        <td class="tg-mi27">Nomor HP</td>
                        <td class="tg-mi27">Jenis Kelamin</td>
                        <td class="tg-mi27">Pekerjaan</td>
                        <td class="tg-mi28">Jumlah Penyewa</td>
                      </tr>
                      <tr>
                        <td class="tg-2xjn"><img src="img/bayar/card.png" width="23" height="23"></td>
                        <td class="tg-8asn">Rayhan Azkia</td>
                        <td class="tg-8asn">08543256798</td>
                        <td class="tg-8asn">Laki-laki</td>
                        <td class="tg-8asn">Mahasiswa</td>
                        <td class="tg-a12t">1</td>
                      </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <br>
            <br>
            <br>


            <div class="container">
                <form action="">
        
                    <div class="row">
                        <div class="col">
                            <h3 class="title">Pilih Metode Pembayaran</h3><br>

                            <div class="submit-btn">
                                <input type="radio" name="payment" id="OVO" value="ovo">
                                <img src="img/logo payment/ovo.png" class="logo-payment">
                                <h3 class="nama">OVO</h3>
                            </div>    
                            <div class="submit-btn">
                                <input type="radio" name="payment" id="gopay" value="gopay">
                                <img src="img/logo payment/gopay.png" class="logo-payment">
                                <h3 class="nama">GOPAY</h3>
                            </div>    
                            <div class="submit-btn">
                                <input type="radio" name="payment" id="alfamart" value="alfamart">
                                <img src="img/logo payment/alfamart.png" class="logo-payment">
                                <h3 class="nama">Alfamart</h3>
                            </div>    
                            <div class="submit-btn">
                                <input type="radio" name="payment" id="dana" value="dana">
                                <img src="img/logo payment/dana.png" class="logo-payment">
                                <h3 class="nama">Dana</h3>
                            </div>    
                            <div class="submit-btn">
                                <input type="radio" name="payment" id="bca" value="bca">
                                <img src="img/logo payment/bca.png" class="logo-payment">
                                <h3 class="nama">BCA</h3>
                            </div>    
                            <div class="submit-btn">
                                <input type="radio" name="payment" id="bni" value="bni">
                                <img src="img/logo payment/bni.png" class="logo-payment">
                                <h3 class="nama">BNI</h3>
                            </div>    
                            <div class="submit-btn">
                                <input type="radio" name="payment" id="bri" value="bri">
                                <img src="img/logo payment/bri.png" class="logo-payment">
                                <h3 class="nama">BRI</h3>
                            </div>    
                            <div class="submit-btn">
                                <input type="radio" name="payment" id="mandiri" value="mandiri">
                                <img src="img/logo payment/mandiri.png" class="logo-payment">
                                <h3 class="nama">Mandiri</h3>
                            </div>    

                            <div class="submit-btn2">
                                
                                <a href="../pagebayar2/pagebayar.html"><h3 class="nama2">BAYAR</h3></a>
                            </div>    

                        </div>
            
                    </div>
                    
                </form>
               
            </div>
            

        </section>
        <div class="frame">
            <div class="div">
              <div class="overlap-group">
                <div class="div-2">
                  <div class="bayar">Total Pembayaran </div>
                  <div class="bayar">RP 800.000</div>
                </div>
              </div>
              <div class="overlap">
                <div class="overlap-2">
                  <img class="foto" src="img/booking/kosan.png" />
                  <div class="paket">Paket A</div>
                </div>
                <div class="lokasi">Living Space Bandung Utara</div>
                <p class="fasilitas">
                  KAMAR MANDI LUAR, NON AC, Wifi, Standar fasilities
                </p>
              </div>
            </div>
        </div>
    </div>
   

    <section class="footer">

        <div class="rowfooter">
    
            
            <div class="colfooter"> 
                <img src="logo.png" alt="logofooter" class="logofooter">
                <p>Living Space is a company that provides environmentally friendly and comfortable housing.</p>
            </div>
    
            <div class="colfooter"> 
    <h3>Office <div class="underlinefooter"><span></span></div></h3>
    <p>Jl. Merdeka</p>
    <p>Jakarta Selatan</p>
    <p>DKI Jakarta, 51121</p>
    <p class="email-idfooter"><a href="mailto:tes@contoh.com">living@space.com</a></p>
    <h4><a href="https://wa.me/6281255556254">+62-81255556254</a></h4>
    
            </div>
    
    
            <div class="colfooter">
                <h3>Links <div class="underlinefooter"><span></span></div></h3>
    
                <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#facilities">Facilities</a></li>
                <li><a href="#location">Location</a></li>
                <li><a href="#typeourroom">Our Rooms</a></li>
                <li><a href="">Contact</a></li>
                 
    
    
    
                </ul>
            </div>
    
    
            <div class="colfooter">
                
            <h3>Get Good Deals <div class="underlinefooter"><span></span></div></h3>
            <form>
                <i class="far fa-envelope"></i>
                <input type="email" placeholder="Input Your Email" required>
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
            <div class="social-iconsfooter">
                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://wa.me/6281255556254"><i class="fab fa-whatsapp"></i></a>
                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
    
            </div>
    
    
            </div>
        </div>
    
    <hr>
    <p class="copyrightfooter">RevoU Grup 16 © 2023</p>
    </section>


    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>


    <script src="js/script.js"></script>
</body>
</html>