<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandung | Living Space</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/welcome/bandung/css/testing.css">
    <script src="https://kit.fontawesome.com/88cfa58199.js" crossorigin="anonymous"></script>
    
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    /> -->
    <!-- Google Font -->
</head>

<body>
    <header class="header">
        <a href="../index.html" class="logo"><i class="fas fa-home"></i>LivingSpace.</a>


        <nav class="navigation">
            <div id="nav-close" class="fas fa-times"></div>
            <a href="#home">Home</a>
            <a href="#">About</a>
            <a href="#location">Location</a>
            <a href="#typeourrooms">Our Rooms</a>
            <a href="../login/index.html" class="fas fa-user"> Login </a>
            
        </nav>

        <div class="icons">
            <div id="menu_btn" class="fas fa-bars"></div>

            <div id="search" class="fas fa-search"></div>
            

            <i ></i>
        </div>
    </header>

    <div class="search-form">
        <div id="close-search" class="fas fa-times"></div>
        <form action="">
            <input type="search" name="" placeholder="Search..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    



    <section id="home" class="home">
        
                    <div class="second-box" id="second-box" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/welcome/bandung/img/pencarian/bandung.jpg) no-repeat;">
                        
                    <div class="content">
                        <span>WELCOME TO</span>
                        <h3>BANDUNG</h3>
                       
                        <a href="#ourroom" class="btn">LOOK FOR A ROOM</a>

                        
                    </div>
                    
                    </div>
                   
    </section>

    <section class="location" id="location">
        <h2 class="heading-featured-in">LIHAT JUGA PROPERTIES DI KOTA LAIN</h2>

    

        <div class="swiper product-slider">
            <div class="swiper-wrapper">

               <div class="swiper-slide slide"> <a href="testing">
                    <div class="image">
                        <img src="/welcome/bandung/img/city/jakarta2.jpg" alt="">
                        
                    </div>
                    <div class="content">
                        <h2>Jakarta</h2>
                        <div class="price"></div>
                        <div class="stars">
                            <h3>1120 Properties</h3>
                        </div>
                    </div></a>
                </div>


                <div class="swiper-slide slide"> <a href="testing.html">
                    <div class="image">
                        <img src="/welcome/bandung/img/city/semarang.jpg" alt="">
                        
                    </div>
                    <div class="content">
                        <h2>Semarang</h2>
                        <div class="price"></div>
                        <div class="stars">
                            <h3>455 Properties</h3>
                        </div>
                    </div></a>
                </div>

                <div class="swiper-slide slide"><a href="testing.html">
                    <div class="image">
                        <img src="/welcome/bandung/img/city/surabaya.jpg" alt="">
                        
                    </div>
                    <div class="content ">
                        <h2>Surabaya</h2>
                        <div class="price"></div>
                        <div class="stars">
                            <h3>123 Properties</h3>
                        </div>
                    </div></a>
                </div>

                <div class="swiper-slide slide"><a href="testing.html">
                    <div class="image">
                        <img src="/welcome/bandung/img/city/jogja.jpg" alt="">
                        
                    </div>
                    <div class="content">
                        <h2>Yogyakarta</h2>
                        <div class="price"></div>
                        <div class="stars">
                            <h3>50 Properties</h3>
                        </div>
                    </div></a>
                </div>

                <div class="swiper-slide slide"><a href="testing.html">
                    <div class="image">
                        <img src="/welcome/bandung/img/city/bali.jpg" alt="">
                        
                    </div>
                    <div class="content">
                        <h2>Denpasar</h2>
                        <div class="price"></div>
                        <div class="stars">
                            <h3>203 Properties</h3>
                        </div>
                    </div></a>
                </div>

                <div class="swiper-slide slide"> <a href="testing.html">
                    <div class="image">
                        <img src="/welcome/bandung/img/city/balikpapan.jpg" alt="">
                        
                    </div>
                    <div class="content">
                        <h2>Balikpapan</h2>
                        <div class="price"></div>
                        <div class="stars">
                            <h3>500 Properties</h3>
                        </div>
                    </div></a>
                </div>

                <div class="swiper-slide slide"><a href="testing.html">
                    <div class="image">
                        <img src="/welcome/bandung/img/city/makassar.jpg" alt="">
                        
                    </div>
                    <div class="content">
                        <h2>Makassar</h2>
                        <div class="price"></div>
                        <div class="stars">
                            <h3>100 Properties</h3>
                        </div>
                    </div></a>
                </div>

                <div class="swiper-slide slide"><a href="testing.html">
                    <div class="image">
                        <img src="/welcome/bandung/img/city/palembang.jpg" alt="">
                        
                    </div>
                    <div class="content">
                        <h2>Palembang</h2>
                        <div class="price"></div>
                        <div class="stars">
                            <h3>40 Properties</h3>
                        </div>
                    </div></a>
                </div>


            </div>
            <div class="swiper-button-next" ></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>



    <section class="package" id="package">
        <div class="container">
          <h2 class="package-h2">Check Our Room</h2>
          <ul class="package-list">
            <li>
              <div class="package-card">
                <figure class="card-banner ">
                  <img src="/welcome/bandung/img/package/package1.jpg" alt="Living Space Bandung Selatan" loading="lazy">
                 
                </figure>
                <div class="card-content">
                  <h3 class="h3 card-title">Living Space Bandung Selatan</h3>
                  <p class="card-text">
                    South Bandung is a highland area that has a peaceful atmosphere away from urban noise.
                  </p>
                  <ul class="card-meta-list">
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-wifi"></i>
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-bath"></i>
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <img src="/welcome/bandung/img/package/ac.svg" alt="AC">
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-circle-check"></i>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="card-price">
                  <div class="wrapper">
                 
                  </div>
                  <p class="price">
                    ✔ TYPE A <br>
                    ✔ TYPE B <br>
                    ✔ TYPE C <br>
                    ✔ TYPE D <br>
                  </p>
                  <button class="btn btn-secondary">View Detail</button>
                </div>
              </div>
            </li>

            <li>
              <div class="package-card">
                <figure class="card-banner">
                  <img src="/welcome/bandung/img/package/package2.jpg" alt="Living Space Bandung Barat" loading="lazy">
                </figure>
                <div class="card-content">
                  <h3 class="h3 card-title">Living Space Bandung Barat</h3>
                  <p class="card-text">
                    West Bandung is on the outskirts of Bandung city and is an industrial area.
                  </p>
                  <ul class="card-meta-list">
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-wifi"></i>
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-bath"></i>
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <img src="/welcome/bandung/img/package/ac.svg" alt="AC">
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-circle-check"></i>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="card-price">
                  <div class="wrapper">
                 
                  </div>
                  <p class="price">
                    ✔ TYPE A <br>
                    ✘ TYPE B <br>
                    ✔ TYPE C <br>
                    ✔ TYPE D <br>
                   
                  </p>
                  <button class="btn btn-secondary">View Detail</button>
                </div>
              </div>
            </li>

            <li>
              <div class="package-card">
                <figure class="card-banner">
                  <img src="/welcome/bandung/img/package/package3.jpg" alt="Living Space Bandung Timur" loading="lazy">
                </figure>
                <div class="card-content">
                  <h3 class="h3 card-title">Living Space Bandung Timur</h3>
                  <p class="card-text">
                    East Bandung is the largest shopping center in Bandung City.
                  </p>
                   <ul class="card-meta-list">
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-wifi"></i>
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-bath"></i>
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <img src="/welcome/bandung/img/package/ac.svg" alt="AC">
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-circle-check"></i>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="card-price">

                  <div class="wrapper">
                    
                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </div>
                  <p class="price">
                    ✘ TYPE A <br>
                    ✔ TYPE B <br>
                    ✔ TYPE C <br>
                    ✔ TYPE D <br>
                   
                  </p>
                  <button class="btn btn-secondary">View Detail</button>

                </div>

              </div>
            </li>

            <li>
              <div class="package-card">
                <figure class="card-banner">
                  <img src="/welcome/bandung/img/package/package4.jpg" alt="UtLiving Space Bandung Utara" loading="lazy">
                </figure>
                <div class="card-content">
                  <h3 class="h3 card-title">Living Space Bandung Utara</h3>
                  <p class="card-text">
                    North Bandung is the government center of the city of Bandung with all the general facilities.
                  </p>
                 <ul class="card-meta-list">
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-wifi"></i>
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-bath"></i>
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <img src="/welcome/bandung/img/package/ac.svg" alt="AC">
                      </div>
                    </li>
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <i class="fa-solid fa-circle-check"></i>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="card-price">

                  <div class="wrapper">
                   
                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                  </div>
                  <p class="price">
                    ✔ TYPE A <br>
                    ✔ TYPE B <br>
                    ✘ TYPE C <br>
                    ✔ TYPE D <br>
                   
                  </p>
                  <button class="btn btn-secondary">View Detail</button>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </section>


   

    <section class="footer">

        <div class="rowfooter">
    
            
            <div class="colfooter"> 
              <a href="../index.html" class="logo"><i class="fas fa-home"></i>LivingSpace.</a>
                <p>Living Space is a company that provides environmentally friendly and comfortable housing.</p>
            </div>
    
            <div class="colfooter"> 
    <h3>Office <div class="underlinefooter"><span></span></div></h3>
    <p>Jl. Merdeka</p>
    <p>Jakarta Selatan</p>
    <p>DKI Jakarta, 51121</p>
    <p class="email-idfooter"><a href="mailto:tes@contoh.com">living@space.com</a></p>
    <h4><a href="https://wa.me/6281255556254">+62-81255556254</a></h4>
    
            </div>
    
    
            <div class="colfooter">
                <h3>Links <div class="underlinefooter"><span></span></div></h3>
    
                <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#facilities">Facilities</a></li>
                <li><a href="#location">Location</a></li>
                <li><a href="#typeourroom">Our Rooms</a></li>
                <li><a href="">Contact</a></li>
                 
    
    
    
                </ul>
            </div>
    
    
            <div class="colfooter">
                
            <h3>Get Good Deals <div class="underlinefooter"><span></span></div></h3>
            <form>
                <i class="far fa-envelope"></i>
                <input type="email" placeholder="Input Your Email" required>
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
            <div class="social-iconsfooter">
                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://wa.me/6281255556254"><i class="fab fa-whatsapp"></i></a>
                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
    
            </div>
    
    
            </div>
        </div>
    
    <hr>
    <p class="copyrightfooter">RevoU Grup 16 © 2023</p>
    </section>


    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>


    <script src="/welcome/bandung/js/script.js"></script>
</body>
</html>